h2 {
  color: #0366d6;
  width: 500px;
}

div {
  margin-bottom: 8px;
}

label {
  width: 10%;
}

input {
  width: 75px;
  height: 35px;
  border-radius: 5px;
  border: 2px solid lightgray;
  padding-left: 8px;
}

.input-container {
  margin-left: 15px;
}
