<div class="input-container">
  <h2>Inputs</h2>
  <div>
    <label for="side-a">Side a length:</label>
    <input id="side-a" name="side-a" type="number" [min]="0" [(ngModel)]="sideA"
           (input)="changed()"/>
  </div>
  <div>
    <label for="side-b">Side b length:</label>
    <input id="side-b" name="side-b" type="number" [min]="0" [(ngModel)]="sideB"
           (input)="changed()"/>
  </div>
  <div>
    <label for="side-c">Side c length:</label>
    <input id="side-c" name="side-c" type="number" [min]="0" [(ngModel)]="sideC"
           (input)="changed()"/>
  </div>
</div>
